.wd-dashboard-heading {
    padding-left: 10px;
    padding-top: 20px;
    font-size: 2em;
    font-weight:lighter;
}

.wd-dashboard-subheading {
    padding-left: 20px;
    font-size: 1.8em;
}

.wd-course-grid {
    float: left;
}

.wd-course-grid .col {
    width: 270px;
    padding: 15px;
}

.wd-card-title {
    font-size: 0.8em;
    color: #028cdb;
}

.wd-card-subtitle {
    font-size: 0.9em;
    font-weight: lighter;
    color: grey;
}

.wd-card-subsubtitle {
    font-size: 0.7em;
    color: grey;
    font-weight: lighter;
}

.wd-card-icon {
    color: grey;
}